/* Primary Color
hex #e51b23
Tagline Color
hex #000000
Complementary Color
hex #1be5dd
Facebook: #1877f2;
Twitter: #1da1f2;
Linkin: #007bb5;
Tik Tok: #69c9d0;
Git Hub: #6cc644;

*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Averia Serif Libre', cursive;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    /* background: linear-gradient(rgba(0, 0, 0, .1), rgba(0, 0, 0, .3)) , url(img/bg.png) center no-repeat;
    background-size: cover; */
}

/* WHOLE LEFT CONTAINER */

.nav-info-bar {
    width: 30%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 25px;
    border-right: 1px solid #ffffff11;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background: linear-gradient( rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3) ) , url(img/bg.png) center no-repeat;
    background-size: cover;
}

.profile-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.img-wrapper {
    width: 200px;
    height: 200px;
    background-color: #000;
    border-radius: 50%;
    margin: 20px 0;
    /* box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.829); */
    box-shadow: 1px 1px 5px #000;
}
.img-wrapper img {
    width: 100%;
    height: 100%;
    opacity: .85;
    border-radius: 50%;
    box-shadow: inset 20px 20px 50px black;
}

.profile-wrapper h1 {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #000;
    font-weight: 700;
}
.profile-wrapper p {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: #000;
}

.nav-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.nav-wrapper ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}
.nav-wrapper ul li {
    width: 150px;
    height: 30px;
    /* border: 1px solid black; */
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    padding: 15px;
}
.nav-wrapper ul li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1px;
    /* color: #1be5dd; */
    color: #e51b23;
    font-weight: 700;
    transition: border-bottom 1s, color 1s;
}
.nav-wrapper ul li a:hover {
    color: #000;
    border-bottom: 1px solid #000;
}


.social-media-wrapper {
    width: 100%;
}
.social-media-icons {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    list-style: none;
}

.social-media-icon {
    font-size: 25px;
}

.social-media-icon a {
    text-decoration: none;
    transition: color .5s;
}

.social-media-icon a:hover {
    color: #1be5dd;
}


.icon-1 {
    color: #1da1f2;
    transition: color .5s;
}

.icon-2{
    color: #007bb5;
}

.icon-4{
    color: #6cc644;
}

.icon-3{
    color: #69c9d0;
}

/* END WHOLE LEFT CONTAINER */

/* WHOLE RIGHT CONTAINER */

.portfolio-section-bar {
    width: 70%;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: 2px;
}
.portfolio-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.portfolio-section h1 {
    margin: 50px 0 0 0;
    text-align: center;
    width: 100%;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 40px;
    position: relative;
}
.portfolio-section h1::after {
    content: ' ';
    position: absolute;
    display: block;
    width: 250px;
    height: 2px;
    background-color: #e51b23;
    top: 120%;
    left: 50%;
    transform: translateX(-50%)
}

.card-wrapper {
    width: 80%;
    height: 500px;
    /* border: 1px solid black; */
    border-radius: 20px;
    margin-top: 80px;
    margin-left: 150px;
}

.card-wrapper-top {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-img-wrapper {
    width: 200px;
    height: 200px;
    border-radius: 20px;
    background-color: blue;
    box-shadow: 1px 1px 2px blue;
}
.card-img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 50px;
    border-radius: 20px;
    opacity: .8;
    background-size: cover;
}

.card-heading-wrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-heading-wrapper h2 {
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #000;
    text-align: center;
    margin: 15px 0;
    font-weight: 700;
}

.card-heading-wrapper p {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: .8px;
    color: #e51b23;
    text-align: center;
    font-weight: 700;
}

.card-wrapper-bottom {
    width: 100%;
    height: 300px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.paragraph-wrapper {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: space-evenly;
    align-items: center;
}

.paragraph-icon {
    width: 10%;
    font-size: 30px;
    color: #e51b23;
}

.paragraph-wrapper h3 {
    font-size: 15px;
    text-align: center;
    width: 35%;
    text-transform: uppercase;
    color: #e51b23;
    margin-right: 5px;

}
.paragraph-wrapper p {
    font-size: 14px;
    text-align: justify;
    width: 100%;
    padding-right: 5px;
    color: #e51b23;

}

/* Second Card */

.card-wrapper-2 {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)) , url(img/bg2.png) center no-repeat;
    background-size: cover;
    width: 80%;
    height: 350px;
    /* border: 1px solid black; */
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 150px;
}

.paragraph-icon-2 {
    width: 10%;
    font-size: 30px;
    color: #000;
}
.paragraph-wrapper-2 {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: space-evenly;
    align-items: center;
}

.card-wrapper-top-2 {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-wrapper-bottom-2 {
    width: 100%;
    height: 200px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.paragraph-wrapper-2 h3 {
    font-size: 15px;
    text-align: center;
    width: 35%;
    text-transform: uppercase;
    color: #000;
    margin-right: 5px;

}

.paragraph-wrapper-2 p {
    font-size: 14px;
    text-align: justify;
    width: 100%;
    padding-right: 5px;
    color: #000;
}

/* Double Cards Last of Portfolio */

.double-card-section {
    display: flex;
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    margin: 80px 0;
    justify-content: space-evenly;
    align-items: center;
}

.left-card-wrapper,
.right-card-wrapper {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.left-card-wrapper::after {
    content: ' ';
    position: absolute;
    display: block;
    height: 350px;
    width: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    top: 50%;
    left: 108%;
    transform: translateY(-50%);
}

.left-card-wrapper h2,
.right-card-wrapper h2 {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #1be5dd;
    margin-top: 20px;
}

.left-card-wrapper p,
.right-card-wrapper p {
    margin-top: 10px;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    position: relative;
}

.left-card-wrapper p::after,
.right-card-wrapper p::after {
    content: ' ';
    position: absolute;
    display: block;
    width: 200px;
    height: 2px;
    background-color: #1be5dd;
    top: 140%;
    left: 50%;
    transform: translateX(-50%);
}

.left-card-wrapper ul,
.right-card-wrapper ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
}
.left-card-wrapper ul li,
.right-card-wrapper ul li {
    width: 100%;
    font-size: 16px;
    text-align: justify;
    letter-spacing: 1px;
    margin-bottom: 15px;
    line-height: 1.5;
    padding-bottom: 10px;
    border-bottom: 2px solid #1be5dd;
}

.left-card-wrapper ul li:last-child,
.right-card-wrapper ul li:last-child {
    border-bottom: none;
}






/* 
Facebook: #1877f2;
Twitter: #1da1f2;
Linkin: #007bb5;
Tik Tok: #69c9d0;
Git Hub: #6cc644;
*/